# Supabase
EXPO_PUBLIC_SUPABASE_URL=https://SEU-PROJETO.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJ...sua-anon-key-aqui

# Asaas (pagamento)
EXPO_PUBLIC_ASAAS_API_KEY=sua-api-key-asaas
EXPO_PUBLIC_ASAAS_BASE_URL=https://sandbox.asaas.com/api/v3

# Catraca Henry Primme SF
EXPO_PUBLIC_CATRACA_API_URL=http://ip-da-catraca:porta/api
